.apphome {
  background-image: linear-gradient(
    to left bottom,
    #75cfb8,
    #85d2b9,
    #93d5bc,
    #a0d8be,
    #acdbc2,
    #b1dcbd,
    #b8ddb7,
    #bfddb2,
    #c9daa0,
    #d8d58e,
    #ebcd80,
    #ffc478
  );
  height: 10000;
}
.title {
  justify-items: center;
  justify-content: center;
  margin-left: 50;
  padding-left: 50;
}
